h1{
    color: red;
    background-color: yellow;
}
div{
    background-color: aquamarine;
    font-size: 25px;
}
.div{
    background-color: yellowgreen;
}
.div2{
    background-color: cadetblue;
}
.parent{
    font-size: 25px;
    /* border-top-color: red; */
    /* border-top-width: 4px; */
    /* border-top-style: dashed; */
    border-top: red 10px solid;
    border-bottom: yellow 10px dashed;
    border-left: green 10px solid;
    border-right: maroon 10px double;
}
.main{
    height: 400px;
    width: 300px;
    border: 1px solid rgb(243, 235, 235);
    text-align: justify;
  
}
.c{
    text-align: center;
}